<html>
  <head>
    <title>Query</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Year');
        data.addColumn('number', 'Relative probability');
        data.addColumn({'type': 'string', 'role': 'tooltip'});
        data.addRows([
          {%- for year, logp in query_data %}
          [new Date({{year}}, 1, 1), {{logp}}, '{{year}}'],
          {%- endfor %}
        ]);

        var options = {
          title: '{{title}}',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('name_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div class="container float-left">
      <div id="name_chart" style="width: 900px; height: 500px"></div>
    </div>
    <div class="container float-left" style="padding-left: 100px; padding-top: 40px">
      <form action="{{ url_for('query') }}" method="post">
        <div class="form-group">
          <textarea name="name_text" rows="8" cols="50" placeholder="Enter names separated by newlines.">{{textarea_content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Graph it</button>
      </form>
    </div>
  </body>
</html>
